name = "mirapuri-worker"
main = "src/index.ts"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "mirapuri-stats"
database_id = "29e5b239-799f-4080-8cde-7cd2e9fff19c"
